@font-face {
  font-family: "stage";
  src: url(../assets/Kartik/4cf2300e9c8272f7-s.p.woff2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --pending-color: #fb923c;
  --success-color: #10b981;
  --error-color: #ef4444;
  --blue-shade: #197fe6;
  --background-color: #161b22;
  --text-color: #ffff;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: var(--text-color);
  border-radius: 10px;
  background-color: var(--background-color);
  font-family: "stage";
}
main {
  width: 25rem;
  height: 100%;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header .left {
  display: flex;
  align-items: center;
}
.header .left .logo {
  margin-right: 10px;
}

.header .right {
  display: flex;
  align-items: center;
}
.header .right .status {
  display: flex;
  align-items: center;
}
.header .right .status .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--pending-color);
  margin-right: 5px;
}
.header .right .status .text {
  font-size: 14px;
  color: var(--pending-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
.hero .subtitle {
  font-size: 14px;
  color: var(--text-color);
}
.hero .count {
  font-size: 48px;
  font-weight: bold;
}
.hero .count span {
  font-size: 14px;
  font-weight: normal;
}
.hero .msg {
  background-color: rgba(239, 68, 68, 0.4);
  border: 1px solid rgba(239, 68, 68, 0.3);
  padding: 5px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hero .msg img {
  margin-right: 5px;
}
.hero .msg p {
  font-size: 14px;
  color: var(--text-color);
}
.hero .reminder {
  border: 1px solid hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.hero .reminder img {
  margin-right: 5px;
}
.hero .reminder p {
  font-size: 14px;
  color: var(--text-color);
}

.suggestion {
  margin: auto;
  width: 300px;
  background-color: #0d1117;
  border-left: 5px solid #197fe6;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}
.suggestion .title {
  color: var(--blue-shade);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestion .content {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion .content .left {
  display: flex;
  flex-direction: column;
}
.suggestion .content .left .main {
  font-size: 14px;
  color: var(--text-color);
}
.suggestion .content .left .repo {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.5);
}
.suggestion .content .right {
  cursor: pointer;
}

.redirect {
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: var(--blue-shade);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.redirect p {
  color: var(--text-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.redirect p img {
  margin-right: 5px;
}

.setting {
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  cursor: pointer;
  color: rgba(128, 128, 128, 0.7);
  gap: 3px;
  padding-bottom: 10px;
}
